<div>
    <h1>chordsapp</h1>
</div>
<div>
    <h2>index</h2>
</div>

<br>

<div>
    <ul>
        <%= link_to "New Song", new_song_path %>
    </ul>
</div>

<br>

<div>
    <h3>songs:</h3>
</div>
<table>
    <th>
        title
    </th>
    <th>
        artist
    </th>
    <th>
        album
    </th>
    <tr>
        <td>
            song_title
        </td>
        <td>
            artist_name
        </td>
        <td>
            album_name
        </td>
    </tr>
